*
{
    color:blue;
}

div p
{
    color:yellow;
}

.myclass
{
    color:red;
}







/*

STATIC:

position: absolute, fixed, relative, static
z index: 0/1/2... (0 is bottom)
left, right, top, bottom: percentage%

Object types:
.name - variable
img - specify image details
ol li - specify ordered list item details
    just using 'ol' or 'ul' is not proper syntax
h1 - heading 1, by default has bigger font than h2
* - for all objects

The ordering of priority for CSS is: the more specific, the more powerful
    eg. .myclass > div p > *

Grouping Declaration:
We can also do commas for multiple objects:
eg. h1,h2 { details }

NON STATIC:

hover effect - is a change of object when you put a mouse arrow over it

Positioning:
Block - Gap before and after the element (gap above and below). eg paragraph
    display: block;
    eg: <div>
        <p>
        <ol>

Inline - side by side
     display: inline;
    eg: <img>
        <button>

For specific changes, we can make our own class in CSS, 
    eg: .simpletext { details }
    in HTML we just use, eg: <p class="simpletext"> TEXT </p>

    We can also specify classes for specific types
    eg: h1.simpletext
    This will apply simpletext for only h1 files

    We can also do div h1 {}


*/

