.container1
{
    position:static;  
    width: 100%;
}

.container2
{
   position:absolute;
}

.container3
{
    position:absolute;
    right:50%;
}

img
{
    width: 50%;
    height: 50%;
}

ol li
{
    color:red;
}

/*

position: absolute, fixed, relative, static
z index: 0/1/2... (0 is bottom)
left, right, top, bottom: percentage%

Object types:
.name - variable
img - specify image details
ol li - specify ordered list item details
    just using 'ol' or 'ul' is not proper syntax

*/

